<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:test-key-for-testing-purposes-only"/>
        <env name="LOGBULL_PROJECT_ID" value="00000000-0000-0000-0000-000000000000"/>
        <env name="LOGBULL_HOST" value="http://localhost:4005"/>
        <env name="LOGBULL_API_KEY" value="test-api-key"/>
        <env name="LOG_CHANNEL" value="logbull"/>
    </php>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
</phpunit>

