# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build artifacts
*.exe
*.dll
*.pdb

# NuGet
*.nupkg
packages/
*.nuget.props
*.nuget.targets

# Visual Studio cache/options
.vs/
.vscode/

# Rider
.idea/
*.sln.iml

# macOS
.DS_Store

# Windows
Thumbs.db

